body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.animated-text span {
  display: inline-block;
  transition: color 0.8s ease, text-shadow 0.8s ease; 
  cursor: default;
}


.animated-text span:hover {
  transition: color 0s; 
}


.animated-text span:nth-child(5n+1):hover { color: #ff0055; text-shadow: 0 0 10px #ff0055; }
.animated-text span:nth-child(5n+2):hover { color: #00fbff; text-shadow: 0 0 10px #00fbff; }
.animated-text span:nth-child(5n+3):hover { color: #fffa00; text-shadow: 0 0 10px #fffa00; }
.animated-text span:nth-child(5n+4):hover { color: #00ff22; text-shadow: 0 0 10px #00ff22; }
.animated-text span:nth-child(5n+5):hover { color: #ff00ff; text-shadow: 0 0 10px #ff00ff; }